@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(68, 135, 190);
}

h1 {
    text-align: center;
    color: white;
    margin-top: 25px;
    text-shadow: 1px 1px 2px black;
}

form {
    margin: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

div {
    padding: 15px;
}

input {
    height: 35px;
}

button {
    width: 300px;
    height: 30px;
}